<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('../partials/head.ejs')-%>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
    <%- include('../partials/navigation.ejs')-%>
    <%- include('../partials/message.ejs')-%>

    <div class="container">
        <div class="row ">
            <div class="col-md-5 mx-auto">
                <div class="card my-5">
                    <div class="card-header">
                        <h4 class="text-center">Iniciar sessión</h4>
                    </div>
                    <div class="card-body">
                        <img src="/img/user.png" alt="Logo Usuario" class="card-img-top w-50">
                        <form action="/cards/sign-in" method="POST">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-prepend">
                                        <span class="input-group-text my-3"><i class="fas fa-user fa-1x"></i></span>
                                    </div>
                                    <input type="text" name="usuario" class="form-control-sm my-3" placeholder="Nombre de usuario">
                                </div>
                            </div>
                            <div class="from-group">
                                <div class="input-group">
                                    <div class="input-prepend">
                                        <span class="input-group-text"> <i class="fas fa-lock fa-1x"></i></span>
                                    </div>
                                    <input type="password" name="password"  class="form-control-sm" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block my-4" id="btn" value="Acceder">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs')-%>
</body>
</html>